extend ../layouts/common

block content
  form(action="", method="POST", enctype="multipart/form-data")
    label username
    input(type="text", name="username")
    br
    label name
    input(type="text", name="name")
    br
    label email
    input(type="text", name="email")
    br
    label password
    input(type="password", name="password")
    br
    input(type="file", name="avatar")
    br
    button Signup