extend ../layouts/common

block content
  h1 Add Book
  form(action="", method="POST", enctype="multipart/form-data")
    label title
    input(type="text", name="title")
    br
    label description
    br
    textarea(name="description", cols="30", rows="3") 
    br
    input(type="file", name="image")
    br
    button Add